h3 {
  text-decoration: underline;
}

.dress-text {
  padding: 20px;
}

.history-container {
  margin: 0 auto;
  width: 450px;
  height: 200px;
  background-color: #302d58;
  border-radius: 25px;
  box-shadow: 3px 3px 15px lightgrey inset;
  text-align: center;
}

.history-head {
  padding-top: 20px;
}

.history-text {
  padding: 0 20px;
}

.weather-container {
  margin: 0 auto;
  width: 450px;
  height: 400px;
  background-color: #302d58;
  border-radius: 25px;
  box-shadow: 3px 3px 15px lightgrey inset;
  text-align: center;
}

.weather-padding {
  margin: 0;
  padding: 20px;
}